@model ExpenseUpdateDto
<form asp-controller="Expense" asp-action="Update" class="was-validated">
  <div class="mb-3">
        <label asp-for="BuildingId">Bina Numarası</label>
        <select asp-for="BuildingId" class="form-control"
                asp-items= "@(new SelectList(Model.Buildings, "Id" , "BuildingName"))" required>
            <option>Lütfenbirini seçiniz</option>
        </select>
        <span asp-validation-for="FlatId" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="FlatId">Daire Numarası</label>
        <select asp-for="FlatId" class="form-control"
                asp-items= "@(new SelectList(Model.Flats, "Id" , "FlatNumber"))" required>
            <option>Lütfen birini seçiniz</option>
        </select>
        <span asp-validation-for="FlatId" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="ExpenseTypeId">Gider Türü</label>
        <select asp-for="ExpenseTypeId" class="form-control"
                asp-items="@(new SelectList(Model.ExpenseTypes, "Id" , "ExpenseTypeName"))" required>
            <option>Lütfen birini seçiniz</option>
        </select>
        <span asp-validation-for="ExpenseTypeId" class="text-danger"></span>
    </div>
    <div class="mb-3 ">
        <label asp-for="Cost">Ücret</label>
        <input type="number" class="form-control" asp-for="Cost" required />
        <span asp-validation-for="Cost" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Ekle</button>
</form>