@model List<Role>
@{
    ViewData["Title"] = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<table class="table table-bordered table-striped">
    <tr>
        <th>Kullanıcı Adı</th>
        

    </tr>
   
        @foreach (var item in Model)
        {
            <tr>

                <td>@item.Name</td>
              <td>  <form asp-action="RoleDelete" asp-route-id="@item.Id" method="post">

                    <button class="btn btn-success" type="submit">Sil</button>
                </form>
            </td>
            </tr>
        }
    
</table>