@model BuildingSystem.Entities.Dtos.RoleDto

@{
    ViewData["Title"] = "RoleCreate";
    
}
<h4> Rol Oluştur</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="RoleCreate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RoleName" class="control-label">Rol İsmi giriniz</label>
                <input asp-for="RoleName" class="form-control" required/>
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <input type="submit" value="Kaydet" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

