@model FlatUpdateDto
<form asp-controller="Admin" asp-action="UpdateFlat" class="was-validated">
    <div class="mb-3 ">

        <div class="mb-3">
            <label asp-for="UserId">Kullanıcı</label>
            <select asp-for="UserId" class="form-control"
                    asp-items="@(new SelectList(Model.Users, "Id", "UserName"))" required>
                <option>Lütfen birini seçiniz</option>
            </select>
            <span asp-validation-for="UserId" class="text-danger"></span>
        </div>
         <div class="mb-3">
        <label asp-for="BuildingId">Bina Seçiniz</label>
        <select asp-for="BuildingId" class="form-control"
                asp-items="@(new SelectList(Model.Buildings, "Id", "BuildingName"))" required>
            <option>Lütfen birini seçiniz</option>
        </select>
        <span asp-validation-for="BuildingId" class="text-danger"></span>
    </div>
        <label asp-for="FlatNumber">Daire Numarası</label>
        <input type="number" class="form-control" asp-for="FlatNumber" required />
        <span asp-validation-for="FlatNumber" class="text-danger"></span>
    </div>
   
    <div class="mb-3 form-group">
        <label asp-for="FloorNumber">Kat Numarası</label>
        <input type="text" class="form-control" asp-for="FloorNumber" required />
        <span asp-validation-for="FloorNumber" class="text-danger"></span>
    </div>
    <div class="mb-3 form-group">
        <label asp-for="FlatType">Daire Tipi</label>
        <input type="text" class="form-control" asp-for="FlatType" required />
        <span asp-validation-for="FlatType" class="text-danger"></span>
    </div>
   
    <div class="mb-3 form-group">
        <label asp-for="IsOwner">Konaklama Şekli</label>
        <input type="text" class="form-control" asp-for="IsOwner" required />
        <span asp-validation-for="IsOwner" class="text-danger"></span>
    </div>
   
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-primary">Ekle</button>
</form>
