<nav class="navbar-default navbar-static-side" style="margin-left:0px" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                  
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="block m-t-xs font-bold"> House System </span>
                     
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li class="dropdown-divider"></li>
                        <li><a class="dropdown-item" asp-controller="Home" asp-action="LogOut" asp-route-returnUrl="/Home/LogIn">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    BS+
                </div>
            </li>
             
            <li>
                <a href="#"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">Site Kullanıcı Bilgileri</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a asp-controller="Admin" asp-action="GetAllUsers">Kullanıcı Bilgileri</a></li>
                    <li><a asp-controller="Admin" asp-action="GetAllRole">Role İsimleri</a></li>
                    <li><a asp-controller="Admin" asp-action="RoleCreate">Rol  Oluştur</a></li>
                </ul>
            </li>
            <li>
                <a href="mailbox.html"><i class="fa fa-building-o" aria-hidden="true"></i> <span class="nav-label">Bina İşlemleri </span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a asp-controller="Building" asp-action="GetAllBuilding">Bina Listesi</a></li>
                    <li><a asp-controller="Building" asp-action="AddBuilding">Bina Ekle </a></li>
                   
                </ul>
            </li>
            <li>
                <a href="mailbox.html"><i class="fa fa-home" aria-hidden="true"></i> <span class="nav-label">Daire İşlemleri </span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a asp-controller="Flat" asp-action="AddFlat">Daire Ekle</a></li>
                    <li><a asp-controller="Flat" asp-action="GetAllFlat">Daire Listesi </a></li>
                   
                </ul>
            </li>
            <li>
                <a href="mailbox.html"><i class="fa fa-money"></i> <span class="nav-label">Gider İşlemleri </span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a asp-controller="Expense" asp-action="AddExpense">Gider Ekle</a></li>
                    <li><a asp-controller="Expense" asp-action="GetAllExpenses"> Gider listesi </a></li>
                    <li><a asp-controller="Expense" asp-action="GetIsPaidExpense"> Ödeyen Kullanıcı Listesi </a></li>
                    <li><a asp-controller="Expense" asp-action="GetUnPaidExpense"> Ödemeyen Kullanıcı Listesi </a></li>
                </ul>
            </li>
            <li>
                <a href="mailbox.html"><i class="fa fa-money" aria-hidden="true"></i> <span class="nav-label">Gider Türü İşlemleri </span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a asp-controller="ExpenseType" asp-action="AddExpenseType"> Gider Türü Ekle</a></li>
                    <li><a asp-controller="ExpenseType" asp-action="GetAllExpenseType">Giderleri Türlerini Listele</a></li>
                     
                </ul>
            </li>
            <li>
                <a href="mailbox.html"><i class="fa fa-envelope-o" aria-hidden="true"></i> <span class="nav-label">Mail İşlemleri </span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a asp-controller="Mail" asp-action="Inbox"> Gelen Mesajlar</a></li>
                    <li><a asp-controller="Mail" asp-action="OutBox">Gönderilen Mesajlar</a></li>
                    <li><a asp-controller="Mail" asp-action="SendMail">Mail Gönderim</a></li>
                   
                </ul>
            </li>
       
    </div>
</nav>