@model List<MessageDto>
<table id="myDataTable" class="table table-hover table-striped">
    <thead class="thead-light">
        <tr>
            <th scope="col">Gönderen</th>
            <th scope="col">Konu Başlığı</th>
             <th scope="col">Konu İçeriği</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var menu in Model)
        {
            <tr>
                <td>@menu.UserName</td>
                <td>@Html.Raw(@menu.MessageContent)</td>
                <td>@Html.Raw(menu.Body)</td>
            </tr>
        }
    </tbody>
</table>
