@model MessageDto
@{
    ViewData["Title"] = "SendMessageToAdmin";
   
}


<form asp-controller="Occupant" asp-action="SendMessageToAdmin" class="was-validated">
    <div class="mb-3">
        <label asp-for="UserId">Blok Numarası</label>
        <select asp-for="UserId" class="form-control"
                asp-items="ViewBag.userList">
            <option>Lütfen Biriniz Seçiniz</option>

        </select>
        <span asp-validation-for="UserId" class="text-danger"></span>
    <div class="mb-3">
    <label asp-for="MessageContent" class="form-label">Konu Başlığı</label>
    <input type="text" class="form-control" asp-for="MessageContent" required>
    <span asp-validation-for="MessageContent" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Body" class="form-label">Konu İçeriği</label>
        <input type="text" class="form-control" asp-for="Body" required>
        <span asp-validation-for="Body" class="text-danger"></span>
    </div>

   
    <button type="submit" class="btn btn-primary">Ekle</button>
</form>

