@model IEnumerable<BlockDto>
@{
    ViewData["Title"] = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="m-0">
    <h3>Siteye Yeni Bir Blok Ekle</h3>
    <a class="btn btn-success btn-sm" asp-controller="Block" asp-action="Save">
        Blok Ekle
    </a>
</div>

<table id="myDataTable" class="table table-hover table-striped">
    <thead class="thead-light">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Bloğun İsmi</th>
            <th></th>

        </tr>
    </thead>
    <tbody>
        @foreach (var block in Model)
        {
            <tr>
                @*<td>@building.Id</td>*@
                <td>@block.BlockName</td>
               
                <td>
                    <a class="btn btn-warning" asp-controller="Block" asp-action="Update"
                   asp-route-id="@block.Id">
                        Güncelle
                    </a>
                    <a class="btn btn-danger" asp-controller="Block" asp-action="Delete"
                   asp-route-id="@block.Id">
                        Sil
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

