@model IEnumerable<BlockWithBuildingDto>
@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="m-0">
    <h3>Siteye Yeni Bir Blok Ekle</h3>
    <a class="btn btn-success btn-sm" asp-controller="Building" asp-action="Save">
        Blok Ekle
    </a>
</div>

<table  class="table table-hover table-striped">
    <thead class="thead-light">
        <tr>

            <th scope="col">Block İsmi</th>
        <th scope="col">Binanın İsmi</th>
            <th scope="col">Toplam Daire Sayısı</th>
            <th></th>

        </tr>
    </thead>
    <tbody>
        @foreach (var building in Model)
        {
            <tr>
                <td>@building.Building.Name</td>
                <td>@building.Building.TotalFlat</td>

                <td>
                    <a class="btn btn-warning" asp-controller="Building" asp-action="Update"
                   asp-route-id="@building.Building.Id">
                        Güncelle
                    </a>
                    <a class="btn btn-danger" asp-controller="Building" asp-action="Delete"
                   asp-route-id="@building.Building.Id">
                        Sil
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

