@model BlockDto
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-controller="Block" asp-action="UpdateBlock" class="was-validated">
    <div class="mb-3">
        <label asp-for="BlockName" class="form-label">Bloğun İsmi</label>
        <input type="text" class="form-control" asp-for="BlockName" required>
        <span asp-validation-for="BlockName" class="text-danger"></span>
    </div>
   
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-primary">Gönder</button>
</form>

