
@{
    ViewData["Title"] = "Resident";
    Layout = "~/Views/Shared/HomeLayout/_Login.cshtml";
}




<div class="content">
    <div class="container">
        <div class="row">
<div class="col-md-6">
    <a asp-controller="Home" asp-action="Privacy"><img src="~/inspinia-gh-pages/resident1.jpg" alt="Image" class="img-fluid"></a>

      <div class="col-md-6 contents">
                               <div class="row justify-content-center">
                        <div class="col-md-8">
                            <div class="mb-4">
                                <h3>Giriş İçin Mailinizin Onaylanması Bekleniyor</h3>
                              
                            </div>
                        </div>
                    </div>
                </div>
 </div>
        </div>

    </div>

</div>